.form.th-s-panel {
    max-width: 190px;
    margin-bottom: 10px;
    margin-right: 7px;
    @media #{$tablet} {
        max-width: 100%;
        display: block;
        margin-right: 0;
    }

    &.dark {
        background-color: #ebeff6;
        button {
            border-color: #ebeff6;
        }
    }

    button {
        padding: 8px 14px 10px;
    }

    &.big-filter {
        &>.dropdown-menu{
            width: 650px;
            max-width: 650px;
        }
        .dropdown-menu{
            padding-bottom: 50px;
            ul{
                overflow: auto;
                max-height: 310px;
                padding-bottom: 50px;
            }
        }
        li {
            border-bottom: 1px solid #f8f8f8;
        }
    }

    .footer {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f5f7fa;
        cursor: default;
        padding: 17px 18px;

        a {
            margin-right: 15px;
            color: $bright-blue
        }
        span {
            margin-right: 15px;
        }
    }
}

body.reports {
    .daterangepicker {
        right: initial !important;
    }
    .search-wrapper:hover {
        background-color: transparent;
    }
    // .search-input {
    //     background-color: #F7F7F7;
    //     margin: 10px;
    //     width: calc(100% - 20px);
    //     font-size: 14px;
    //     padding: 5px 10px;
    // }
    .dropdown {
        &.open {
            .dropdown-menu {
                overflow: unset;
            }
        }
    }
    .nested{
        .dropdown-menu,
        .slide-menu{
            overflow: unset;
            left: 0;
            padding-top: 0;

            .no-padding {
                padding: 0;

                &:hover {
                    background-color: transparent;
                }
            }

            .inner-list {
                max-height: 250px;
                overflow: auto;
            }
        }
    }

    .dropdown-menu, .slide-menu {
        .nested {
            position: initial;

            &::after {
                display: none;
            }

            .back-btn {
                padding: 10px 20px 10px 35px;
                background-color: #EBEFF6;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                    width: 5px;
                    height: 9px;
                    background: url(../img/caret-left.png) no-repeat center/auto 9px;
                }
            }

            .button {
                position: relative;

                &::after {

                    content: '';
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    width: 5px;
                    height: 9px;
                    background: url(../img/caret-left.png) no-repeat center/auto 9px;
                }
            }
        }
    }

    .reports-panel{
        .panel-header {
            display: flex;
            padding: 20px 20px 10px;
            border-color: #f8f8f8;
            @media #{$tablet} {
                flex-wrap: wrap;
            }

            .left {
                width: calc(100% - 380px);
                @media #{$tablet} {
                    width: 100%;
                }
            }

            .right {
                width: 380px;
                text-align: right;
                @media #{$tablet} {
                    padding-top: 15px;
                    width: 100%;
                }
            }

            .btn {
                padding: 9px 32px 11px;
                border-color: #e0e3e6;
                @media #{$tablet} {
                    display: block;
                    width: 100%;
                    margin: 0 0 10px;
                }

                &:hover {
                    border-color: $bright-blue
                }

                &.btn-add, &.btn-report {
                    padding: 7px 32px 5px;
                }
            }
        }
        .panel-body {
            .dark-bg {
                background-color: #ebeff6;
            }
            tr {
                &:hover {
                    .dark-bg {
                        background-color: #e6f2fe;
                    }
                }
            }
        }
    }
    .date-wrapper {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 7px;
        @media #{$tablet} {
            max-width: 100%;
            display: block;
            margin-right: 0;
        }

        #reportrange {
            padding: 8px 38px 10px 14px;
            border: 1px solid #e0e3e6;
            border-radius: 2px;
            width: auto;

            .from {
                margin-left: 22px;
            }

            .to {
                margin-left: 18px;
            }

            .date, .from span, .to span {
                color: $black;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }

            .caret {
                right: 15px;
                width: 12px;
                height: 100%;
                background: url(../img/caret-gray1.png) no-repeat center/auto 7px;
            }
        }
    }
}


.filter-dropdown {
    position: relative;
    display: inline-block;
    width: 170px;
    @media #{$small-desktop} {
        width: 100%;
    }
    .fd-btn {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        padding: 8px 14px 10px;
        border: 1px solid #e0e3e6;
        border-radius: 2px;
        display: inline-block;
        max-width: 190px;
        width: 100%;
        @media #{$small-desktop} {
            max-width: 100%;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 15px;
            content: '';
            width: 12px;
            height: 100%;
            background: url(../img/caret-gray1.png) no-repeat center/auto 7px;
        }
    }

    &.open {
        .fd-menu {
            opacity: 1;
            visibility: visible;
            @media #{$small-desktop} {
                max-width: calc(88% - 35px);
            }
            @media #{$tablet}{
                max-width: calc(100% - 35px);
            }
        }
    }
    .fd-menu {
        width: 780px;
        max-width: 780px;
        position: fixed;
        // left: -155px;
        right: 25px;
        top: 45px;
        background: #fff;
        color: #78889a;
        border-radius: 2px;
        z-index: 5;
        box-shadow: 0px 0px 39px -3px rgba(56,61,71,0.1);
        opacity: 0;
        visibility: hidden;
        // transition: .2s;
        @media #{$medium-desktop}{
            // left: 0;
        }

        .fdm-body {
            padding-bottom: 50px;
            // max-height: 320px;
            // overflow: auto;

            .include {
                background-color: #64d8d4;
                border-color: #64d8d4;
                color: #fff;
            }

            .exclude {
                background-color: #ff6b6b;
                border-color: #ff6b6b;
                color: #fff;
            }

            .filter-name {
                padding-top: 8px;
                padding-left: 5px;
                margin-bottom: 10px;
            }

            li {
                display: flex;
                padding: 20px;
                border-bottom: 1px solid #f8f8f8;
                position: relative;
                @media #{$small-desktop} {
                    flex-direction: column;
                }

                .left {
                    width: 166px;
                    @media #{$small-desktop} {
                        width: 100%;
                    }
                }

                .right {
                    width: calc(100% - 166px);
                    text-align: left;
                    @media #{$small-desktop} {
                        width: 100%;
                    }

                    .check-option {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: 12px;
                        right: 30px;
                        z-index: 1;

                        .text {
                            opacity: 0;
                            pointer-events: none;
                            touch-action: none;
                        }
                    }

                    .form-field {

                        input {
                            width: 100%;
                            padding-right: 30px;
                        }
                    }

                    .dropdown-menu {
                        li {
                            padding: 0
                        }
                    }

                    .rm-btn {
                        width: 36px;
                        height: 36px;
                        background: rgba(#ff4040, .1) url(../img/icon-trash.png) no-repeat center / 40%;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        margin-left: 5px;
                        text-align: center;
                        line-height: 35px;
                        display: none;
                    }

                    .search-input {
                        display: inline-block;
                        width: 300px;
                        position: relative;
                        @media #{$small-desktop} {
                            width: 85%;
                        }


                        .clear-search {
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            background: url(../img/icon-close2.png) no-repeat center/contain;
                            right: 10px;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                            cursor: pointer;
                            opacity: .6;
                            display: none;
                        }
                    }

                    .search-res-wrapper {
                        position: absolute;
                        z-index: 3;
                        padding: 5px 0;
                        background: #fff;
                        color: #78889a;
                        border-radius: 2px;
                        z-index: 5;
                        box-shadow: 0px 0px 39px -3px rgba(56,61,71,0.1);
                        width: 100%;
                        max-width: 300px;
                        left: 5px;
                        top: 38px;
                        visibility: hidden;
                        opacity: 0;

                        &.active {
                            visibility: visible;
                            opacity: 1;
                        }

                        .single-res {
                            padding: 7px 15px;
                            cursor: pointer;

                            &:hover {
                                background-color: #f5f7fa;
                            }
                        }
                    }

                    .rm-box {
                        padding: 9px 30px 7px 14px;
                        border-radius: 3px;
                        font-size: 14px;
                        font-family: 'Roboto', sans-serif;
                        height: 36px;
                        display: inline-block;
                        margin: 0 5px;
                        position: relative;
                        @media #{$small-desktop} {
                            margin: 0 10px 10px 0;
                        }

                        &.include, &.exclude {
                            background-color: transparent;
                            color: #78889a;
                        }
                        &.include {
                            background-color: rgba(#64d8d4, .2);
                        }
                        &.exclude {
                            background-color: rgba(#ff6b6b, .1);
                        }

                        .rm-box-btn {
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            background: url(../img/icon-close2.png) no-repeat center / contain;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                            opacity: .6;
                        }
                    }
                }

                .flex-top {
                    display: none;
                    &.active {
                        display: flex;
                        @media #{$small-desktop} {
                            display: block;
                        }
                    }

                    .th-s-panel {
                        width: 97px;
                        display: inline-block;
                        vertical-align: middle;
                        @media #{$small-desktop} {
                            display: block;
                        }

                        button {
                            &::after {
                                background-image: url(../img/caret-white.png)
                            }
                        }
                    }
                }
            }
        }

        .fdm-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f7f7f7;
            padding: 17px 18px;
            border-top: 1px solid #f0f2f6;

            .more-filters {
                position: relative;
                .main-mf {
                    color: $bright-blue;
                    cursor: pointer;
                    position: relative;
                    padding-right: 27px;

                    &::after {
                        position: absolute;
                        top: 0;
                        right: 10px;
                        content: '';
                        width: 12px;
                        height: 100%;
                        background: url(../img/caret-blue.png) no-repeat center/auto 7px;
                    }
                }

                .mf-inner {
                    position: absolute;
                    z-index: 3;
                    padding: 5px 0;
                    background: #fff;
                    color: #78889a;
                    border-radius: 2px;
                    z-index: 5;
                    box-shadow: 0px 0px 39px -3px rgba(56,61,71,0.1);
                    width: 200px;
                    max-width: 300px;
                    left: 5px;
                    top: 38px;
                    margin: 0;
                    display: none;

                    a {
                        padding: 7px 15px;
                        display: block;
                        margin: 0;
                        color: #78889a;

                        &:hover {
                            background-color: #f5f7fa;
                        }
                    }
                }
            }

            a {
                color: $bright-blue;
                margin-right: 10px
            }

            span {
                margin-right: 10px
            }
        }
    }
}

.btn-report {
    color: #fff;
    background: #41a3ff;
    border: none;
    font-size: 15px;
    .icon:before{
        display: inline-block;
        content: '';
        width: 21px;
        height: 21px;
        background: url(../img/icon-play.png) no-repeat center/contain;
        margin: 0 10px 2px 0;
        vertical-align: middle;
    }
}
