RewriteEngine on
RewriteRule "sites_rev$" "/api/sites_rev.php"

RewriteRule "stats$" "/api/api.php"
RewriteRule "site$" "/api/api.php?by=site"
RewriteRule "device$" "/api/api.php?by=device"
RewriteRule "date$" "/api/api.php?by=date"

RewriteRule "date/site$" "/api/api.php?by=date&by2=site"
RewriteRule "date/device$" "/api/api.php?by=date&by2=device"


RewriteRule "stats/site$" "/api/api.php?by=site"
RewriteRule "stats/device$" "/api/api.php?by=device"
RewriteRule "stats/date$" "/api/api.php?by=date"

RewriteRule "stats/date/site$" "/api/api.php?by=date&by2=site"
RewriteRule "stats/date/device$" "/api/api.php?by=date&by2=device"